* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  color: rgb(200, 200, 200);
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

.box {
  border: 1px rgba(140, 0, 255, 0.7) solid;
  font-size: 1em;
  transition: 2s;
  text-shadow: 1px 1px gray;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.picture {
  grid-area: picture;
}

.picture img {
  border-radius: 100%;
}

.first {
  grid-area: first;
  font-size: 4em;
}

.last {
  grid-area: last;
  font-size: 4em;
}

.header {
  grid-area: header;
  margin: 0 auto;
}
.nav{
    grid-area: nav;
}
.head{
  grid-area: head;
}
.linkedin{
  grid-area: linkedin;
}
.gitHub{
  grid-area: github;
}
.main{
  grid-area: main;
}
.nestedHeader {
  margin: 0 auto;
  color: rgba(140, 0, 255, 0.7);
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: auto;
  grid-template-areas: "first picture last";
  align-items: center;
  margin-top: 15px;
}

.header img {
  top: 20px;
}

.boxBorder {
  grid-area: boxBorder;
  border: 4px rgba(180, 0, 255, 0.7) solid;
  border-radius: 20px;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.statement {
  grid-area: statement;
}
.nav a{
  text-decoration: none;
}
.wrapper>div {}

body {
  margin: 0 auto;
  background-color: rgb(30, 30, 30);
}
h3 {
  color: rgba(255, 0, 255, .4);
}

.wrapper {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 10% 30% .1% 30% 10%;
  grid-gap: 3em;
  grid-template-rows: auto;
  grid-template-areas:
  '. header header header .'
  '. statement statement statement .'
  '. . boxBorder . .'
  '. box1 boxBorder box2 .'
  '. box3 boxBorder box4 .'
  '. box5 boxBorder box6 .'
  '. . boxBorder . .'
  '. nav nav nav .';
  width: 50vw;
  height: 100vh;
}
.nav{
  width: 100%;
  display: grid;
  font-size: 30px;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
  'head head head'
  'linkedin main github';
}

.wrapper>.box:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 10px rgba(255, 0, 255, .4);
  text-shadow: 0px 0px;
}


@media (max-width: 1280px) {
  html {
    font-size: 12px;
    height: auto;
  }
  body{
    background-color: rgb(50,50, 50);
  }
  .nestedHeader {
    grid-template-columns: 30% 50% 10%;
    grid-gap: 1em;
    font-size: 10px;
    grid-template-areas: 'first last last' 'picture picture .';
  }
  .wrapper {
    height: 90%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    'header'
    'statement'
    'box1'
    'box2'
    'box3'
    'box4'
    'box5'
    'box6'
    'nav'
    '.';
  }
  .boxBorder {
    display: none;
  }
  .nav{
    grid-template-columns: 100%;
    grid-gap: 1em;
    grid-template-areas:
    'head'
    'linkedin'
    'github'
    'main';
    text-decoration: none;
  }
}
